<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Bloggit - Surround yourself with the right people</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/suggested.css">
    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

    <div class="top mt-5 ml-sm-4">
        <a href="/category/suggested/all"> <button class="next-button mr-sm-4"> Prev </button> </a>

        <h1 class="heading">Suggested Users To Follow</h1>
        <a href="/home"> <button class="next-button mr-sm-4">Home &#10148;</button> </a>
    </div>


    <div class="all-users">
        <% for(var i = 0; i <users.length; i++) { %>  
            <% if(i>10){break;} %> 
            <% if(owner._id.toString()!==users[i]._id.toString()) { %> 
            <div class=" user d-inline-flex flex-column justify-content-center "> 
            <img src="<%=users[i].image%>" alt="" class="mx-auto" style="width:100px;height:100px;border-radius:50%;">
            <a href='/user/<%=users[i].username%>/dashboard ' class="pt-2 " style="text-align:center"><%= users[i].username%></a>
            <p><%= users[i].name%></p>
            <button class="mx-auto" id='follow-button' type="submit" userid=<%=users[i]._id%> >Follow</button>
            </div> 
            <% }%> 
        <% } %>
    </div>


<script>
            // for follow button
            $(document).on('click','[id^=follow-button]',function(e){
            console.log(e.target)
            UserId = e.target.getAttribute('userid')
            $.ajax({
                url:`/user/${UserId}/follow`,
                method:'put'
            }).always(function(s){
            console.log(s)
            e.target.id = 'unfollow-button'
            e.target.innerText = 'Unfollow'
        })
    })


        // for unfollow button
        $(document).on('click','[id^=unfollow-button]',function(e){
            console.log(e.target)
            UserId = e.target.getAttribute('userid')
            $.ajax({
                url:`/user/${UserId}/unfollow`,
                method:'put'
            }).always(function(s){
            console.log(s)
            e.target.id = 'follow-button'
            e.target.innerText = 'Follow'
        })
        })
    
</script>

<%- include('partials/footer1')  -%>
