<%- include('partials/header1')  -%>

    <% var savedpostsid = []%>
    <% for(var i = 0; i <savedposts.length;i++){%>
        <%  savedpostsid.push(savedposts[i]._id.toString()) %>
    <% } %> 

    <% var userCategories = user.categories_followed %>
    <% categoryIdList = [] %>
    <% for(var i=0; i<userCategories.length;i++){ %>
        <% categoryIdList.push(userCategories[i].toString()) %>
    <% } %>
    <% var categoryId = category._id.toString() %>  
    
    
    <div class="category-head d-flex flex-column  align-items-center">
        <div class="category-head-img mt-4 d-flex justify-content-center">
            <img class=""  src="<%=category.image%>" alt="Category Image" >
        </div>
        <div class="p-1 d-flex flex-row justify-content-center align-items-center">
            <h1 class='mr-4'>
                <%= category.title %> Blogs
            </h1>
            <% if(categoryIdList.includes(categoryId)){ %> 
                    <% idname = 'unfollow-button' %> 
                    <% buttontext = 'Unfollow' %>                       
                <% } else { %>
                    <% var idname = 'follow-button' %> 
                    <% var buttontext = 'Follow' %> 
            <% } %> 
            <div class="category-button" >
                <button id=<%=idname %> categoryId= <%=category._id%> > <%=buttontext%></button>
            </div>
        </div>
    </div>

    <div id="main1" >

        <div class="blogs-template" >
            <% if (posts.length==0){ %>
                <div class="cen">oops no posts to show at the moment . Why don't you<a href="/post/compose"> Create One
                </a> </div>
                <%}%>
                <div class="all-posts mx-auto col-12 col-lg-8 ">
                    <%  for(var i=posts.length-1;i>=0;i--){ %>
        
                        <div class="content-template-main " style="margin:0 10%;margin-top:40px;">
        
                            <div class=" content-template">
                                <div class="post-user">
                                    <p style="font-size:0.9rem" class="mb-0">
                                        <span style="opacity:0.8"> <img src=" <%=posts[i].postedBy.image %>" alt="" style="height:26px;width:26px;border-radius:50%;transform:translate(0,-3px);margin-right:4px;">
                                            <a href="/user/<%=posts[i].postedBy.username%>/dashboard">
                                                <strong style="font-size:16px;line-height: 16px;font-weight:580;"><%=posts[i].postedBy.username%>
                                            </strong>
                                            </a>
                                            </span>
                                </div>
                                <h4 style="margin-bottom:0;">
                                    <a class="to-title" id="post-title-1" href="/post/<%=posts[i]._id  %>" style="color:#000;">
                                        <%= posts[i].title.toLowerCase()%>
                                    </a>
                                </h4>
                                <p id="post-content-1" style="margin-top:10px; margin-bottom:5px; font-weight:450;margin-bottom:0;opacity:0.8">
                                    <%=posts[i].content.substring(0,120)%>....</p>
        
        
                                <div class="one-line d-flex justify-content-between" style="padding-right:20px;">
                                    <div class="" style="margin:0;margin-top:5px;">
                                        <p style="opacity:1;font-size: 15px;margin-top:8px;">
                                            <%=posts[i].date %> &bull;
                                                <%=Math.round(posts[i].content.length/500)%> mins read
                                        </p>
                                    </div>
                                    <div class="post-edit pb-2" postid = <%=posts[i]._id %> >
                                        <% if(savedpostsid.includes(posts[i]._id.toString())) {%>
                                            <% var id1 = 'unsave-button' %> 
                                            <% var icode =  '&#xf02e;' %> 
                                            
                                        <% }else{  %> 
                                            <% var id1 = 'save-button' %> 
                                            <% var icode =  '&#xf097;'%> 
                                           
                                        <% } %> 
               <button id=<%=id1%> style="border:none;background-color: #fff;font-size:20px"><i class= 'fa' aria-hidden="true"><%-icode %></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="content-template-image" style="width:100%;height:100%;">
                                <% if(posts[i].image){ %>
                                    <img src="<%=posts[i].image %>" alt="profile image">
                                    <% } %>
                            </div>
                        </div>
                        <%   }  %>
                </div>

        </div>
    </div>

    <script>
        // follow category request
        $(document).on('click',"[id^=follow-button]",function(e){
            categoryId = e.target.getAttribute('categoryId')
            e.target.id = 'unfollow-button'
            e.target.innerText = 'Unfollow'
            $.ajax({
                url:`/category/${categoryId}/follow`,
                method:'put',
                error:function(){
                    e.target.id = 'follow-button'
                    e.target.innerText = 'Follow'
                }
            })
        })

            // unfollow category request
            $(document).on('click',"[id^=unfollow-button]",function(e){
            categoryId = e.target.getAttribute('categoryId')
            e.target.id = 'follow-button'
            e.target.innerText = 'Follow'
            $.ajax({
                url:`/category/${categoryId}/unfollow`,
                method:'put',
                error:function(){
                    e.target.id = 'unfollow-button'
                    e.target.innerText = 'Unfollow'
                }
            })
        })

        // add post to bookmarks 
        // change bookmark icon
        $(document).on('click',"[id^=save-button]" ,function(e) {
            x  = e.target.parentElement.parentElement
            postId = x.getAttribute("postid")
            $.ajax({
                url :`/${postId}/save`,
                method:'put',
            }).always(function(res){
                Icon = e.target
                Icon.innerHTML = '&#xf02e;'
                e.target.parentElement.id = 'unsave-button'
            })
        })

        //remove post from bookmark
        // change bookmark icon
        $(document).on('click',"[id^=unsave-button]" ,function(e) {
            x  = e.target.parentElement.parentElement
            postId = x.getAttribute("postid")
            $.ajax({
                url :`/${postId}/unsave`,
                method:'put',
            }).always(function(res){
                Icon = e.target
                Icon.innerHTML ='&#xf097;'
                e.target.parentElement.id = 'save-button'
            })
        })

    </script>



    <%- include('partials/footer1')  -%>