<%- include('partials/header1')  -%>

    <div class="profile-card">
        <div class="image-media ">
            <img class="profile-image" src="<%=user.image %>" alt="">
        </div>
        <div class="user-info mt-2">

            <span class = "d-flex flex-row">
                <h4 style="opacity:0.8" class="mr-2">
                    <%=user.username%>
                </h4>
                <% console.log(user._id , owner._id) %>
                <% console.log(owner.following , 'in ejs ') %>  
                <% if(JSON.stringify(owner._id) !== JSON.stringify(user._id)) { %>
                    <% var flag = 1 %> 
                    <% for(var i = 0; i <owner.following.length;i++) { %> 
                        <% if(JSON.stringify(owner.following[i]) === JSON.stringify(user._id)) {%>       
                            <% var flag=0 %> 
                            <% break %>                 
                        <% } %> 
                    <% } %>
                    <% if(flag===1) {%>
                        <% idname = 'follow-button' %> 
                        <% buttontext = 'Follow' %>                       
                    <% } else { %>
                        <% var idname = 'unfollow-button' %> 
                        <% var buttontext = 'Unfollow' %> 
                    <% } %> 
                    <button id=<%=idname%>  userid = <%=user._id%>   type="submit" class="rectangle-button"><%=buttontext%></button>                                         
                <% } %>

            </span>

            <div class="profile-stat d-flex flex-row justify-content-between" style="margin-top:8px"> 
                <p style="margin-bottom:0" class="mr-4">
                    <b class="bolder"><%=user.posts.length%></b> posts
                </p>
                <p style="margin-bottom:0">
                    <b class="bolder"><%=user.followers.length%></b> followers
                </p>
                <p style="margin-bottom:0" class="ml-4"> 
                    <b class="bolder"><%=user.following.length%></b> following
                </p>
            </div>

            <p style="margin:0;margin-top:8px;">
                <b><%=user.name%></b>
            </p>

            <p style="opacity:0.8;font-size: 24px;">
                <%=user.bio%>
            </p>

        </div>
    </div>
    <hr id="hr1">

        <div class="blogs-template" style="margin-bottom: 50px;">
            <div class="mx-auto all-posts col-12 col-lg-8 ">
                <%  for(var i=posts.length-1;i>=0;i--){ %>
                    <div class="content-template-main " style="margin:0;margin-top:40px;">
    
                        <div class=" content-template">
                            <div class="post-user">
                                <p style="font-size:0.9rem" class="mb-0">
                                    <span style="opacity:0.8"> <img src=" <%=posts[i].postedBy.image %>" alt="" style="height:26px;width:26px;border-radius:50%;transform:translate(0,-3px);margin-right:4px;">
                                        <a href="/user/<%=posts[i].postedBy.username%>/dashboard">
                                            <strong style="font-size:16px;line-height: 16px;font-weight:580;"><%=posts[i].postedBy.username%>
                                        </strong>
                                        </a>
                                        </span>
                            </div>
                            <h4 style="margin-bottom:0;">
                                <a class="to-title" id="post-title-1" href="/post/<%=posts[i]._id  %>" style="color:#000;">
                                    <%= posts[i].title.toLowerCase()%>
                                </a>
                            </h4>
                            <p id="post-content-1" style="margin-top:10px; margin-bottom:5px; font-weight:450;margin-bottom:0;opacity:0.8">
                                <%=posts[i].content.substring(0,120)%>....</p>
    
    
                            <div class="one-line d-flex justify-content-between" style="padding-right:20px;">
                                <div class="" style="margin:0;margin-top:5px;">
                                    <p style="opacity:1;font-size: 15px;margin-top:8px;">
                                        <%=posts[i].date %> &bull;
                                            <%=Math.round(posts[i].content.length/500)%> mins read
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="content-template-image" style="width:100%;height:100%;">
                            <% if(posts[i].image){ %>
                                <img src="<%=posts[i].image %>" alt="profile image">
                                <% } %>
                        </div>
                    </div>
                    <%   }  %>
            </div>
            

        </div>
    </div>


    <script type="text/javascript">

        // for follow button
        $(document).on('click','[id^=follow-button]',function(e){
            UserId = e.target.getAttribute('userid')
            $.ajax({
                url:`/user/${UserId}/follow`,
                method:'put'
            }).always(function(s){
            e.target.id = 'unfollow-button'
            e.target.style.paddingRight = '32px';
            e.target.innerText = 'Unfollow'
        })
    })


        // for unfollow button
        $(document).on('click','[id^=unfollow-button]',function(e){
            UserId = e.target.getAttribute('userid')
            $.ajax({
                url:`/user/${UserId}/unfollow`,
                method:'put'
            }).always(function(s){
            e.target.id = 'follow-button'
            e.target.innerText = 'Follow'
        })
        })
    </script>

    <%- include('partials/footer1')  -%>