<%-include('partials/header1') -%>

    <% if(success && success.length>0) {%>
        <div id="successMessage" class="mt-2 alert alert-success alert-dismissible fade show container d-flex justify-content-center hide" role="alert">
            <%= success%>
          </div>
    <% } %> 
    <!--data to check if current user has liked or not -->
    <% present = 0  %> 
    <% for(var i=0; i<post.likes.length; i++) { %>
        <% if(JSON.stringify(post.likes[i])===JSON.stringify(currentuser)){ %>
            <% present = 1  %>
            <% break %>     
        <%}%> 
    <% } %> 
    <p id="present" style="display:none"><%=present%></p>


    <div class="container">
        <div class="post-media">
            <div class="image-media">
                <img class="img-fluid" src="<%=post.image %>" alt="">
            </div>
            <div class="post-content">
                <h1 class="title">
                    <%=post.title%>
                </h1>
                <div class="post-user">
                    <p style="font-size:0.9rem" class="mb-0">
                        <span style="opacity:0.8"> <img src=" <%=post.postedBy.image %>" alt="" style="height:26px;width:26px;border-radius:50%;transform:translate(0,-3px);margin-right:4px;">
                            <a href="/user/<%=post.postedBy.username%>/dashboard">
                                <strong style="font-size:16px;line-height: 16px;font-weight:580;"><%=post.postedBy.username%>
                            </strong>
                            </a>
                            </span>
                </div>
                <p>
                    <%=post.content %>
                </p>
            </div>
            <% if(currentuser==post.postedBy.username){%>
                <div class="post-edit ">
                    <form method="POST" action="/post/<%=post._id%>/delete?_method=DELETE">
                        <input type="hidden" name="_method" value="DELETE">
                        <button style="border:none;background-color: #fff;"><i class="fa fa-trash-o" aria-hidden="true" type="submit">
                                Delete</i></button>
                    </form>
                    <a href="/post/<%=post._id%>/edit" style="color: #000"> <i class="fa fa-pencil" aria-hidden="true">Edit</i></a>

                </div>

            <% }%>

            <div class="likeCommentSave d-flex flex-row align-items-end">
                <div id="unlike-button-div" class="mx-3" style="display: none;">  
                    <button id='unlike-button' class="like-button"><i id="unlike-button" class="fa fa-thumbs-up fa-2x"></i></button>
                    <span class="like-count"><span class='like-count-1' id="like-count"><%=post.likes.length%></span></span>
                </div>
                <div id="like-button-div" class="mx-3" style="display: none;">
                    <button id='like-button' class="like-button"><i id="like-button" class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i></button> 
                    <span class="like-count"> <span class='like-count-1' id="like-count"><%=post.likes.length%></span></span>
                </div>
                <div class="comment-link mx-3" style="cursor: pointer;">
                 <span><i class="fa fa-comments fa-2x"></i></span>
                 <a name="form-com"><span class="like-count ml-1 " id="commentsLength"><%=post.comments.length%> </span></a>
                 
                </div> 
                <% var flag = 0 %>
                <% for(var i=0;i<savedposts.length;i++) {%>
                    <% if(JSON.stringify(savedposts[i])===JSON.stringify(post._id)){ %>
                        <% flag = 1 %>
                        <% break %>  
                    <% } %>  
                <% } %>   
                <div class="post-edit mx-1" postid = <%=post._id %> >
                    <% if(flag === 1) {%>
                        <% var id1 = 'unsave-button' %> 
                        <% var icode =  '&#xf02e;' %> 
                        
                    <% }else{  %> 
                        <% var id1 = 'save-button' %> 
                        <% var icode =  '&#xf097;'%> 
                       
                    <% } %> 
                    <button id=<%=id1%> style="border:none;background-color: #fff;font-size:24px"><i class= 'fa' aria-hidden="true"><%-icode %></i></button>
                </div>
            </div>
           
        </div>
    </div>

    <form id="form-com"class="form-comment mb-4">

        <input id="comment-val" type="text" placeholder="Add A Comment...." name="content" required style="width:88%;margin-left:1.5%;">
        <button id ="add-comment"  type="submit" class="add">Add</button>

    </form>
    <div id="show-comments" class="show-comments">
         <% for(var i = post.comments.length-1;i >=0;i--) {%>
            <div class="comments">
                <div class="commentedby">
                    <a href="/user/<%= post.comments[i].commentedby %>/dashboard">
                        <%= post.comments[i].commentedby %>
                    </a>
                </div>
                <div class="comment-content">
                    <%= post.comments[i].content %>
                </div>
                <% if(currentuser===post.comments[i].commentedby){%>
                    <div class="delete-button-div" todelete=<%=post.comments[i]._id  %> >
                        <button id="delete-button" style="border:none;"><i class="fa fa-trash-o" aria-hidden="true" type="submit">  Delete</i></button>
                </div>
                <% }%>   
            </div>
        <%}%>
    </div>

    <script src = "https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        // add post to bookmarks 
        // change bookmark icon
        $(document).on('click',"[id^=save-button]" ,function(e) {
            x  = e.target.parentElement.parentElement
            Icon = e.target
            postId = x.getAttribute("postid")
            Icon.innerHTML = '&#xf02e;'
            e.target.parentElement.id = 'unsave-button'
            $.ajax({
                url :`/post/${postId}/save`,
                method:'put',
                error:function(){
                    Icon = e.target
                    Icon.innerHTML ='&#xf097;'
                    e.target.parentElement.id = 'save-button'
                }
            })
        })

        //remove post from bookmark
        // change bookmark icon
        $(document).on('click',"[id^=unsave-button]" ,function(e) {
            x  = e.target.parentElement.parentElement
            postId = x.getAttribute("postid")
            Icon = e.target
            Icon.innerHTML ='&#xf097;'
            e.target.parentElement.id = 'save-button'
            $.ajax({
                url :`/post/${postId}/unsave`,
                method:'put',
                error:function(){
                    Icon = e.target
                    Icon.innerHTML = '&#xf02e;'
                    e.target.parentElement.id = 'unsave-button'
                }
            })
        })


        // to check whether the post has been liked or not         
        var present = document.getElementById("present").innerText;
       console.log(present)
        if(present==='1'){
            document.getElementById('unlike-button-div').style.display = 'block';
        }else{
            document.getElementById('like-button-div').style.display = 'block';
        }

        // adding like to the post clicking like button put request
        $("button#like-button").on('click',function(e){
            document.getElementById("like-button").disabled = true;
            e.preventDefault();
            var id_ = '<%= post.id%>'
            data = {id:id_}
            $.ajax({
                type: 'PUT',
                url : '/post/like',
                data: data, 
                dataType: 'json'
            }).always(function(data){
            document.getElementById("like-button").disabled = false;
                document.getElementById('unlike-button-div').style.display = 'block';
                document.getElementById('like-button-div').style.display = 'none';
                var count = document.getElementsByClassName('like-count-1')[0].innerText
                document.getElementsByClassName('like-count-1')[0].innerText = parseInt(count)+1;
                document.getElementsByClassName('like-count-1')[1].innerText = parseInt(count)+1;

            })
        })
        //clicking unlike button removing like user from array put request
        $("button#unlike-button").on('click',function(e){
            document.getElementById("unlike-button").disabled = true;

            e.preventDefault();
            var id_ = '<%= post.id%>'
            data = {id:id_}
            $.ajax({
                type: 'PUT',
                url : '/post/unlike',
                data: data, 
                dataType: 'json'
            }).always(function(data){
                document.getElementById("unlike-button").disabled = false;
                document.getElementById('unlike-button-div').style.display = 'none';
                document.getElementById('like-button-div').style.display = 'block';
                var count = document.getElementsByClassName('like-count-1')[0].innerText
                document.getElementsByClassName('like-count-1')[0].innerText = parseInt(count)-1;
                document.getElementsByClassName('like-count-1')[1].innerText = parseInt(count)-1;

            })
        })

        // adding new comment to db and show on the post page
        // in chronological order 
        $("form#form-com").on('submit',function(e){
            content = document.getElementById('comment-val').value;
            document.getElementById('comment-val').value = '';
            e.preventDefault();
            $.ajax({
            url : "/post/<%=post.id%>/comment/add",
            type:"POST",
            data : {content: content},
            dataType:'json'})
            .always(function(data){
                 var  content =  data.content;
                 var username = data.commentedby;
                 var id = data._id;
                 var owner = "<%=currentuser%>"
                 var htmlContent = ''
                 htmlContent+= `
                <div class="commentedby">
                    <a href="/home/<%=currentuser%>/dashboard">
                        <%= currentuser%>
                    </a>
                </div>
                <div class="comment-content">
                    ${content}
                </div>
                <div class="delete-button-div" todelete=${id}>                
                    <button id="delete-button" style="border:none;"><i class="fa fa-trash-o" aria-hidden="true" type="submit">  Delete</i></button>
                </div>`
                var htmlElement = document.createElement("div");
                htmlElement.innerHTML = htmlContent
                htmlElement.classList.add("comments")
                if('<%=post.comments.length%>'==='0') {
                    document.getElementById("show-comments").appendChild(htmlElement)
                }else{
                    var firstComment = document.getElementById("show-comments").firstChild;
                    var parentComment = document.getElementById("show-comments")
                    parentComment.insertBefore(htmlElement, firstComment)
                }
             })
        })

        // deleting a comment from db
        // and removing current node from post page
        $(document).on("click", "[id^=delete-button]",function(e) {
            x = e.target.parentElement.parentElement
            var CommentIdToBeDeleted = x.getAttribute("todelete")
            $.ajax({
                type:"delete",
                dataType:"json",
                url:`/post/<%=post._id%>/${CommentIdToBeDeleted}/comment/delete`
            }).always(function(data){
                parentElement = document.getElementById("show-comments")
                parentElement.removeChild(x.parentElement)
            })
        })

        $(document).ready(function(){
            setTimeout(function() {
            $('#successMessage').remove();
        }, 2500);
        });


        

    </script>

    <%- include('partials/footer1')  -%>
