<%- include('partials/header1')  -%>

    <div class="profile-card">
        <div class="image-media ">
            <img class="profile-image" src="<%=user.image %>" alt="">
        </div>
        <div class="user-info mt-2">
            <h4 style="font-weight:500;">
                <%=user.username%>  <a id="edit-link" href="profile/<%=user._id%>/edit">Edit Profile</a>
            </h4>

            <div class="profile-stat d-flex flex-row justify-content-between"> 
                <p style="margin-bottom:0" class="mr-4">
                    <b class="bolder"><%=user.posts.length%></b> posts
                </p>
                <a href="/user/followers/1" >
                    <b class="bolder"><%=user.followers.length%></b> followers
                </a>
                <a href="/user/following/1" class="ml-4"> 
                    <b class="bolder"><%=user.following.length%></b> following
                </a>
            </div>

            <p style="margin:0;margin-top:8px;">
                <b><%=user.name%></b>
            </p>
            
            <p style="opacity:0.8;font-size: 24px;">
                <%=user.bio%>
            </p>
        </div>
    </div>
    <hr id="hr1">
    <div class="user-posts">
        <% if (posts.length==0){ %>
            <h6 style="text-align:center;opacity: .8;">You Have Not Posted Any BLOG Yet . Why don't you just<a href="/post/compose"> Create One
                </a> Now</h6>
        <% } %> 
                <div class="blogs-template">
                    <div class="mx-auto all-posts col-12 col-lg-8 ">
                        <%  for(var i=posts.length-1;i>=0;i--){ %>
                            <div class="content-template-main " style="margin:0;margin-top:40px;">
            
                                <div class=" content-template">
                                    <div class="post-user">
                                        <p style="font-size:0.9rem" class="mb-0">
                                            <span style="opacity:0.8"> <img src=" <%=posts[i].postedBy.image %>" alt="" style="height:26px;width:26px;border-radius:50%;transform:translate(0,-3px);margin-right:4px;">
                                                <a href="/user/<%=posts[i].postedBy.username%>/dashboard">
                                                    <strong style="font-size:16px;line-height: 16px;font-weight:580;"><%=posts[i].postedBy.username%>
                                                </strong>
                                                </a>
                                                </span>
                                    </div>
                                    <h4 style="margin-bottom:0;">
                                        <a class="to-title" id="post-title-1" href="/post/<%=posts[i]._id  %>" style="color:#000;">
                                            <%= posts[i].title.toLowerCase()%>
                                        </a>
                                    </h4>
                                    <p id="post-content-1" style="margin-top:10px; margin-bottom:5px; font-weight:450;margin-bottom:0;opacity:0.8">
                                        <%=posts[i].content.substring(0,120)%>....</p>
            
            
                                    <div class="one-line d-flex justify-content-between" style="padding-right:20px;">
                                        <div class="" style="margin:0;margin-top:5px;">
                                            <p style="opacity:1;font-size: 15px;margin-top:8px;">
                                                <%=posts[i].date %> &bull;
                                                    <%=Math.round(posts[i].content.length/500)%> mins read
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-template-image" style="width:100%;height:100%;">
                                    <% if(posts[i].image){ %>
                                        <img src="<%=posts[i].image %>" alt="profile image">
                                        <% } %>
                                </div>
                            </div>
                            <%   }  %>
                    </div>
                    
        
                </div>
    </div>



    <%- include('partials/footer1')  -%>